/* Cabeçalho (mobile) */

.flexRowContent--main-header-mobile {
    background-color: #212121;
}

/* Logo da empresa */

.flexCol--logo-container {
    width: 30vw;
    padding: 0 !important;
}

.flexColChild--logo-container-mobile {
    width: 30vw;
}

/* Itens do carrinho */

.flexRowContent--minicart-item {
    border: 1px solid #59ff00;
    border-radius: 4px;
    margin: 1rem auto;
    padding: 1rem 1rem 0.5rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Container do produto (fotos e informações) na página do produto */

.flexRow--product-main {
    margin: 0 2%;
}

.flexRowContent--product-main {
    justify-content: center;
}

.flexRow--product-main .stretchChildrenWidth {
    width: max-content !important;
    max-width: 50%;
}

.flexRowContent--product-main .stretchChildrenWidth:last-child {
    width: 30% !important;
}

.flexRowContent--buyButton .stretchChildrenWidth {
    min-width: 100%;
}

/* Responsividade para mobile */

@media (max-width: 1000px) {
    .flexRowContent--product-main {
        flex-direction: column;
    }

    .flexRow--product-main .stretchChildrenWidth {
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .flexRow--product-main .stretchChildrenWidth {
        width: fit-content !important;
        max-width: 100%;
        transition: 0.5s;
    }

    .flexRowContent--product-main .stretchChildrenWidth:last-child {
        width: 100% !important;
    }
}

/* Rodapé */

.flexRowContent--footer-container {
    background-color: #424242;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
}

.flexRowContent--footer-container .stretchChildrenWidth {
    width: 170px !important;
}

.flexCol--footer-element {
    align-items: center;
    padding: 5px 0 0 0;
    text-align: center;
    row-gap: 0;
    cursor: pointer;
    transition: 0.5s;
}

.flexCol--footer-element:active {
    background-color: #5e5e5e;
    transition: 0.5s;
}

.flexColChild--footer-element {
    width: 100%;
    height: 24px !important;
}
